/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

/* основной цвет  #212121; */
/* вторичный цвет #757575; */
/* Ефект Hover #2196F3; */
/* Белый #FFFFFF; */
/* Подвал rgba(255, 255, 255, 0.6); */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Roboto, sans-serif;
  color: rgba(33, 33, 33, 1);
  background-color: rgb(255, 255, 255);
  align-content: center;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Шапка */
.page-header {
  border-bottom: 1px solid #ececec;
}

.logo-link {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;
  transition-duration: 0.3s;
}

.logo-accent {
  color: rgba(33, 150, 243, 1);
  text-decoration: none;
}

.logo-link:hover,
.logo-link:focus {
  cursor: pointer;
}

.head-nav {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition-duration: 0.3s;
  list-style-type: none;
  height: 80px;
  display: flex;
  align-items: center;
}

.site-nav {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin-left: 93px;
}
.site-nav .item-but:not(:last-child) {
  margin-right: 50px;
}

.current {
  color: #2196f3;
}

.item-but {
  transition-duration: 0.3s;
  margin: 30px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.item-but:hover,
.item-but:focus {
  color: rgba(33, 150, 243, 1);
  cursor: pointer;
}

.contact-links {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #757575;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style-type: none;
  transition-duration: 0.3s;
  display: flex;
  padding: 0;
  margin-left: auto;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2f303a;
}

.hero-txt {
  font-style: normal;
  color: rgba(255, 255, 255, 1);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  list-style-type: none;
}

.button-buy {
  padding: 10px 32px;
  margin: 30px auto 0;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: rgba(255, 255, 255, 1);
  background-color: #2196f3;
  border-radius: 4px;
  border: 0;
  transition-duration: 0.3s;
}

.button-buy:hover,
.button-buy:focus {
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

/* Достоинства */
.qualities {
  list-style-type: none;
  display: flex;
  padding-top: 89px;
  padding-bottom: 94px;
  letter-spacing: 0.03em;
}

.qualities-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  justify-content: space-between;
  flex-wrap: wrap;
  display: flex;
}

.qualities-item-txt {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: #757575;
  text-transform: none;
  width: 270px;
  margin-bottom: 10px;
}

/* Чем мы занимаемся */
.work {
  padding-bottom: 94px;
  list-style-type: none;
}

.services-team {
  display: flex;
  flex-wrap: wrap;
}

.services-team-txt img {
  display: block;
}

.services-team .services-team-txt:not(:last-child) {
  margin-right: 30px;
}

.services-txt {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.services-team {
  list-style-type: none;
  mix-blend-mode: normal;
  text-decoration: none;
}

.container h2 {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
}

/* наша команда */

.our-team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}
.team {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.team-name {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-name h3 {
  margin-bottom: 10px;
}
.team .item:not(:last-child) {
  margin-right: 30px;
}
.team h3 {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}
.team p {
  text-align: center;
  font-size: 16px;
  line-height: 1.2;
  color: var(--title-text-color);
}

/* Подвал */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.logo-footer {
  margin-bottom: 20px;
}

.maps {
  margin-bottom: 9px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: #ffffff;
}

.mail {
  margin-bottom: 9px;
}

.logo-studio-white {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #f5f4fa;
}

.logo-web {
  color: #2196f3;
}

.footer-links {
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  line-height: 1.7;
  color: rgb(255, 255, 255);
  list-style-type: none;
  transition-duration: 0.3s;
}

.footer-link {
  transition-duration: 0.3s;
}

.footer-link:hover {
  color: #2196f3;
}

.auth-footer {
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  list-style-type: none;
  padding: auto;
}

/* portfolio page */
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.offer-items {
  display: flex;
}

.item-port {
  display: flex;
}

.item-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
}

.photoshop {
  display: block;
}

.item-list {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.item h2 {
  text-align: start;
  margin-bottom: 4px;
}

.item-img .item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.item-img .item:not(:nth-child(n + 7)) {
  margin-bottom: 30px;
}

.item [type="button"] {
  padding: 6px 22px;
}

.portfolio button[type="button"] {
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--primary-text-color);
  cursor: pointer;
  border-radius: 4px;
}

.portfolio [type="button"]:hover,
.portfolio [type="button"]:focus {
  color: var(--white-text-color);
  background-color: var(--hover-text-color);
}

.portfolio h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.portfolio p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.8;
  color: rgba(117, 117, 117, 1);
}
