/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

/* основной цвет  #212121; */
/* вторичный цвет #757575; */
/* Ефект Hover #2196F3; */
/* Белый #FFFFFF; */
/* Подвал rgba(255, 255, 255, 0.6); */

/* outline: 2px solid tomato; */

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: rgba(33, 33, 33, 1);
  background-color: rgb(255, 255, 255);
  letter-spacing: 0.03em;
  align-content: center;
}

ul {
  list-style: none;
}

.section {
}

a {
  text-decoration: none;
  color: inherit;
  font-style: normal;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.header-links:hover,
.header-links:focus,
.footer-links:hover,
.footer-links:focus {
  color: rgba(33, 150, 243, 1);
  cursor: pointer;
}

.head-nav {
  font-size: 14px;
  display: flex;
  height: 80px;
  align-items: center;
}

.site-nav {
  display: flex;
  padding: 0;
  margin-left: auto;
  align-items: center;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav a {
  padding: 30px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.contact-nav {
  display: flex;
  padding: 0;
  margin-left: auto;
  align-items: center;
}

.contact-nav .item:not(:last-child) {
  margin-right: 50px;
}

.contact-nav a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.services,
.team-persons {
  font-size: 36px;
}

.logo-link {
  font-size: 26px;
  font-family: Raleway;
}

.logo-accent {
  color: rgba(33, 150, 243, 1);
}

/* section hero */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #2f303a;
}

.hero-txt {
  font-size: 44px;
  color: rgb(255, 255, 255);
  margin-left: auto;
  margin-right: auto;
  padding: 15px 32px;
}

.button-buy {
  background-color: #2196f3;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button-buy:hover {
  background-color: #757575;
}
