/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

/* основной цвет  #212121; */
/* вторичный цвет #757575; */
/* Ефект Hover #2196F3; */
/* Белый #FFFFFF; */
/* Подвал rgba(255, 255, 255, 0.6); */

body {
  font-family: Roboto, sans-serif;
  color: rgba(33, 33, 33, 1);
  background-color: rgb(255, 255, 255);
}

a {
  text-decoration: none;
  color: inherit;
}

.logo-link {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;
  transition-duration: 0.3s;
}

.logo-accent {
  color: rgba(33, 150, 243, 1);
  text-decoration: none;
}

.logo-link:hover {
  color: white;
  cursor: pointer;
}

.head-nav {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition-duration: 0.3s;
  list-style-type: none;
}

.site-nav {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style-type: none;
}

.item-but {
  transition-duration: 0.3s;
}

.item-but:hover,
.item-but:focus {
  color: rgba(33, 150, 243, 1);
  cursor: pointer;
}

.contact-links {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #757575;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style-type: none;
  transition-duration: 0.3s;
}

.hero-txt {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  list-style-type: none;
}

.button-buy {
  height: 50px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  /* identical to box height, or 188% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background: #2196f3;
  transition-duration: 0.3s;
  border-radius: 6px;
  color: #ffffff;
}

.button-buy:hover,
.button-buy:focus {
  color: rgba(255, 255, 255, 0.6);
  background-color: #2196f3;
  cursor: pointer;
}

.qualities {
  list-style-type: none;
}

.qualities-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.qualities-item-txt {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  /* or 171% */
  letter-spacing: 0.03em;
  color: #757575;
  text-transform: none;
}

.services-txt {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.services-team {
  list-style-type: none;
  mix-blend-mode: normal;
}

.team-text {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.person {
  list-style-type: none;
  text-align: center;
}

.person-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.person-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
}

.person-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
}

.person-item-txt {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #757575;
  text-align: center;
}

.footer-style {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition-duration: 0.3s;
}

/* portfolio page */

.filter-nav {
  list-style-type: none;
  text-align: center;
}

.button-filter-nav {
  font-family: "Roboto";
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  /* identical to box height, or 162% */
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
  transition-duration: 0.3s;
}

.button-filter-nav:hover,
.button-filter-nav:focus {
  color: #ffffff;
  background: #2196f3;
  /* shadow-middle */
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  cursor: pointer;
}

.portfolio-list-item {
  list-style-type: none;
}

.title-portfolio-list {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
  color: #212121;
}

.subtitle-portfolio-list {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  /* identical to box height, or 188% */
  letter-spacing: 0.03em;
  color: #757575;
}
